h1{
  font-size: 90px;
  color: #6AB4DC;
  text-align: right;
  margin-right: 90px;
  font-family: 'Oswald', sans-serif;
  text-align: right;
}

body{
  background: #ffffff;
}

section.head{
  margin-top: 90px;
}

section.image-one img{
  float: left;
  margin-left: 35px;
  margin-right: 120px;
  box-shadow: 10px 10px 8px #888888
}

table{
  width: 1230px;
  margin-left: 35px;
  margin-top: 40px;
}

section.image-two img{
    box-shadow: 10px 10px 8px #888888
}

section.image-three img{
    box-shadow: 10px 10px 8px #888888
}

section.image-fourth img{
    box-shadow: 10px 10px 8px #888888
}

section.image-five img{
    box-shadow: 10px 10px 8px #888888
}

ul{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 13px;
  list-style-type: none;
}


section.quick-links{
  font-family: 'Oswald', sans-serif;
  margin-left: 420px;
  margin-top: 10px;
  text-align: center;
  display: inline-block;
    padding: 10px 35px;
    border-top: 1px solid #27659A;
    line-height: 1px;
    width: 450px;
    text-decoration: none;
}

section.quick-links > ul > li{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow:
